
<!-- Page Header -->

<header class="masthead" style="background-image: url(<%= asset_path 'index_header.jpg' %>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Sebastian abroad!</h1>
          <span class="subheading">Meine Zeit am German Historical Institute in Washington D.C.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<body>
<section>
<div class="container">
  <div id="gallery">
    <h1>Image Gallery</h1>
    <div class="row">



      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

    </div>
    <!-- TODO: Would be a better QL if a new row is generated when images are added not sure if possible -->

    <div class="row">

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="photo photo-type-line">
          <a href="#" class="photo-hover">
            <div class="photo-info">
              <div class="headline">Lorem Ipsum</div>
              <div class="line"></div>
              <div class="description">World</div>
            </div>
            <div class="mask"></div>
          </a>
          <div class="photo-img"><%= image_tag ('placeholder_img.jpg') %></div>
        </div>
      </div>


    </div>
  </div>
</div>

</section>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- commenting out cause dunno what it does
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
-->
<script src="../../assets/javascripts/bootstrap_image_gallery.js"></script>
<!--Lightboxjs-->
<script src="../../assets/javascripts/lightbox-plus-jquery.js"></script>
</body>
</html>
