<header class="masthead"></header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h1>Beitrag editieren</h1>

      <% if @post.errors.any? %>
        <h2>Error:</h2>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <!-- initialize tiny mce helper-->
      <%= tinymce %>
      <%=form_for @post do |f| %>
        <p>
          <%= f.label :title %><br/>
          <%= f.text_field :title %>
        </p>

        <p>
          <%= f.label :content_ %><br/>
          <%= f.text_area :content, :class => "tinymce" %>
        </p>
        <p>
          <%= f.submit "Beitrag editieren" %>
        </p>
      <% end %>
    </div>
  </div>
</div>